.timeTable {
    border-collapse: separate;
    width: 100%;
}

.timeTable-headerRow,
.timeTable-row {
    border: transparent 1px solid;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.timeTable-headerCell {
    padding: 20px;
    overflow: hidden;
    width: 16%;
}

.timeTable-cell {
    padding: 20px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    color: gray;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: transparent 1px solid;
    border-radius: 5px;
    width: 16%;
    background-color: white;
    cursor: pointer;
}

.timeTable-selected {
    background-color: #d3eed3;
    color: black;
    border: green 1px solid;
}
